.header {
  background-color: var(--color-very-light-gray);
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  padding-left: 10%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .header {
      padding: 8% 5%;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr; } }
  .header__content {
    align-self: center;
    justify-self: start;
    display: grid;
    grid-row: repeat(3, minmax(min-content, 1fr));
    grid-row-gap: 3rem;
    z-index: 1; }
    @media only screen and (max-width: 50em) {
      .header__content {
        text-align: center;
        grid-row: 1fr; } }
  .header__paragraph {
    width: 70%; }
    @media only screen and (max-width: 50em) {
      .header__paragraph {
        width: 100%; } }
  .header__btn {
    justify-self: start; }
    @media only screen and (max-width: 50em) {
      .header__btn {
        justify-self: center; } }
  .header__pictures {
    position: relative; }
    @media only screen and (max-width: 50em) {
      .header__pictures {
        grid-row: 1 / 2; } }
  .header__bg-desktop {
    position: absolute;
    right: -32rem;
    top: 0;
    width: 80%;
    margin-top: -35vh; }
    @media only screen and (max-width: 50em) {
      .header__bg-desktop {
        display: none; } }
  .header__bg-mobile {
    display: none; }
    @media only screen and (max-width: 50em) {
      .header__bg-mobile {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        margin-top: -50vh; } }
    @media only screen and (max-width: 37.5em) {
      .header__bg-mobile {
        margin-top: -30vh; } }
    @media only screen and (max-width: 25em) {
      .header__bg-mobile {
        margin-top: -10vh; } }
  .header__img {
    margin-top: -15vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; }
    @media only screen and (max-width: 50em) {
      .header__img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        margin-top: -20vh; } }
    @media only screen and (max-width: 37.5em) {
      .header__img {
        width: 85%; } }
    @media only screen and (max-width: 25em) {
      .header__img {
        width: 100%;
        margin-top: -10vh; } }

.features {
  background-color: var(--color-light-grayish-blue);
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  padding: 6% 10%;
  z-index: 1; }
  @media only screen and (max-width: 50em) {
    .features {
      display: grid;
      justify-items: center;
      padding: 8% 5%;
      text-align: center; } }
  .features__paragraph {
    width: 55%; }
    @media only screen and (max-width: 50em) {
      .features__paragraph {
        width: 100%; } }
  .features__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem; }

.feature {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .feature {
      justify-items: center; } }

.articles {
  background-color: var(--color-very-light-gray);
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  padding: 6% 10%; }
  .articles__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem; }
  @media only screen and (max-width: 50em) {
    .articles {
      padding: 8% 5%;
      display: grid;
      text-align: center; } }

.article {
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden; }
  .article__img {
    display: block;
    width: 100%; }
  .article__details {
    padding: 10% 8%;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1rem; }
  .article__heading {
    color: inherit;
    font-weight: 400;
    font-size: 1rem; }
  .article__link:visited, .article__link:link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-dark-blue); }
  .article__link:hover {
    color: var(--color-bright-cyan); }
  .article__paragraph {
    font-size: 1.3rem; }

.footer {
  background-color: var(--color-dark-blue);
  grid-row: 5 / 6;
  grid-column: 1/ -1;
  padding: 6% 10%;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr)); }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 8% 5%;
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      text-align: center; } }
  .footer__socials {
    display: flex;
    flex-direction: column; }
  .footer__logo {
    width: 40%;
    margin-bottom: auto; }
    @media only screen and (max-width: 50em) {
      .footer__logo {
        width: 50%;
        margin: 0 auto 3rem auto; } }
  .footer__icon-link:visited, .footer__icon-link:link {
    display: inline-block;
    text-decoration: none;
    color: #fff; }
  .footer__icon-link:not(:last-child) {
    margin-right: 1rem; }
  .footer__icon {
    font-size: 2.5rem; }
    .footer__icon:hover {
      color: var(--color-lime-green); }
  .footer__list-about {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 50em) {
      .footer__list-about {
        flex-direction: column; } }
  .footer__item {
    flex: 0 0 50%; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 50em) {
        .footer__item:not(:last-child) {
          margin-bottom: 2rem; } }
  .footer__link:visited, .footer__link:link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem; }
  .footer__link:hover {
    color: var(--color-lime-green); }
  .footer__copyright {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    @media only screen and (max-width: 50em) {
      .footer__copyright {
        align-items: center;
        margin-left: 0; } }
  .footer__btn {
    margin-bottom: auto; }
    @media only screen and (max-width: 50em) {
      .footer__btn {
        margin-bottom: 3rem; } }

:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grayish-blue);
  overflow-x: hidden; }

.container {
  max-width: 144rem;
  display: grid;
  grid-template-rows: 8rem calc(100vh - 8rem) repeat(3, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(4, [col-start] minmax(max-content, min-content) [col-end]) [center-end] 1fr [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-5 {
  font-weight: 300;
  color: var(--color-dark-blue);
  line-height: 1.2; }

.heading-1 {
  font-size: 5rem;
  width: 75%; }
  @media only screen and (max-width: 62.5em) {
    .heading-1 {
      width: 80%;
      font-size: 4rem; } }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      width: 100%;
      font-size: 3rem; } }

.heading-2 {
  font-size: 3.8rem; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      width: 100%;
      font-size: 2.4rem; } }

.heading-3 {
  font-size: 2rem; }

.heading-5 {
  font-size: 1.8rem; }

.paragraph {
  font-size: 1.6rem; }

.btn:visited, .btn:link {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1.2rem 3rem;
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
  border-radius: 10rem;
  cursor: pointer; }

.btn:hover {
  opacity: .8; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-bg {
  margin-bottom: 4rem; }

.mt-n {
  margin-top: -2.8rem; }

.navbar {
  background-color: var(--color-white);
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  z-index: 5; }
  @media only screen and (max-width: 50em) {
    .navbar {
      padding: 0 5%;
      display: flex;
      justify-content: space-between;
      position: relative; } }
  .navbar__logo {
    display: block;
    grid-column: 1 / 2; }
  .navbar__list {
    list-style: none;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 2.5rem; }
    @media only screen and (max-width: 50em) {
      .navbar__list {
        display: none; } }
    .navbar__list--1 {
      display: none;
      list-style: none; }
      @media only screen and (max-width: 50em) {
        .navbar__list--1 {
          position: fixed;
          top: 10rem;
          left: 3rem;
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 3px;
          padding: 5% 8%;
          width: 90%;
          text-align: center;
          transform: translateY(-100%);
          transition: all .5s;
          opacity: 0;
          visibility: hidden; } }
  @media only screen and (max-width: 50em) {
    .navbar__item:not(:last-child) {
      margin-bottom: 3rem; } }
  .navbar__link:link, .navbar__link:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-grayish-blue);
    margin-top: 2.6rem;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .navbar__link:link, .navbar__link:visited {
        font-size: 2.8rem;
        margin-top: 0; } }
  .navbar__link::after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, var(--color-lime-green), var(--color-bright-cyan));
    margin-top: 2.6rem;
    transition: all .5s; }
    @media only screen and (max-width: 50em) {
      .navbar__link::after {
        display: none; } }
  .navbar__link:hover {
    color: var(--color-dark-blue); }
    @media only screen and (max-width: 50em) {
      .navbar__link:hover {
        color: var(--color-lime-green); } }
    .navbar__link:hover::after {
      opacity: 1; }
  .navbar__btn {
    justify-self: end; }
    @media only screen and (max-width: 50em) {
      .navbar__btn {
        display: none !important; } }

.navigation {
  display: none; }
  .navigation__input-checkbox {
    display: none; }
  @media only screen and (max-width: 50em) {
    .navigation {
      display: block; }
      .navigation__button {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 2.5rem;
        right: 2rem;
        outline: none;
        z-index: 10; }
        .navigation__button::before {
          content: "";
          background-color: #fff;
          width: 5rem;
          height: 5rem;
          display: inline-block;
          border-radius: 5px;
          box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.05);
          position: fixed;
          top: 1.3rem;
          right: 1rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        display: inline-block;
        width: 3rem;
        height: 3px;
        background-color: var(--color-dark-blue); }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        right: 0;
        transition: all .2s; }
      .navigation__icon::before {
        top: .8rem; }
      .navigation__icon::after {
        top: -.8rem; }
      .navigation__icon {
        position: fixed;
        margin-top: 1.25rem;
        z-index: 10; }
      .navigation__input-checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      .navigation__input-checkbox:checked + .navigation__button .navigation__icon::after {
        transform: rotate(135deg);
        top: 0; }
      .navigation__input-checkbox:checked + .navigation__button .navigation__icon::before {
        transform: rotate(-135deg);
        top: 0; }
      .navigation__input-checkbox:checked ~ .navbar__list--1 {
        opacity: 1;
        visibility: visible;
        transform: translateY(0); } }
