.articles{
    background-color: var(--color-very-light-gray);
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    padding: 6% 10%;

    &__group{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 3rem;
    }

    @media only screen and (max-width: 50em) {
        padding: 8% 5%;
        display: grid;
        justify-items: center;
    }
}

.article{
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    

    &__img{
        display: block;
        width: 100%;
    }

    &__details {
        padding: 10% 8%;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 1rem;
    }

    &__heading{
        color: inherit;
        font-weight: 400;
        font-size: 1rem;
    }

    &__link{

        &:visited,
        &:link{
            display: inline-block;
            text-decoration: none;
            color: var(--color-dark-blue);
        }

        &:hover{
            color: var(--color-bright-cyan);
        }
    }

    &__paragraph{
        font-size: 1.3rem;
    }

    
}