.header{
    background-color: var(--color-very-light-gray);
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 49rem 1fr;

    @media only screen and (max-width: 50em) {
        padding: 8% 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        grid-row-gap: 5rem;
        justify-items: center;
    }

    

    &__content{
        align-self: center;

        display: grid;
        grid-row-gap: 3rem;

        @media only screen and (max-width: 50em) {
            text-align: center;
            grid-row: 2 / 3;

            width: 80%;
            justify-content: center;
        }
    }

    &__paragraph{
        width: 70%;

        @media only screen and (max-width: 50em) {
            width: 100%;
        }
    }

    &__btn{
        justify-self: start;

        @media only screen and (max-width: 50em) {
            justify-self: center;
        }
    }

    &__pictures{
        background-image: url('../images/bg-intro-desktop.svg');
        background-position: 10%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -20vh;

        @media only screen and (max-width: 62.5em) {
            margin-top: -30vh;
        }

        @media only screen and (max-width: 50em) {
            background-image: url('../images/bg-intro-mobile.svg');
            margin-top: -20vh;
            grid-row: 1 / 2;
        }

        
    }
    
    &__img{
        position: relative;
        display: block;
        margin-left: 20%;
        margin-top: 10vh;
        z-index: 2;

        @media only screen and (max-width: 62.5em) {
           margin-left: 10%;
        }

        @media only screen and (max-width: 50em) {
            margin-left: 0;
            margin-top: -24vh;
            width: 100%;
        }

        @media only screen and (max-width: 25em) {
            margin-top: -2vh;
        }

    }

    
}

